<main class='container mt-l'>
  <div class='row mb-4'>
    <div class='col-12'>
      <h1 class='text-center mt-4'><img src='/assets/img/regionb.ico' />
        {{#if editMode}}Editing {{else}}Creating a new {{/if}}Region
        <img src='/assets/img/regionb.ico' /></h1>
    </div>
  </div>
  <form method='post' action='{{#if editMode}}/admin/edit-Region{{else}}/admin/create-Region{{/if}}'>
    <section class='row col-md-4 mx-auto'>
      {{#if editMode}}
          <input type='hidden' id="regionId" name='RegionId' value='{{region.id}}' />
      {{/if}}
      {{#if editMode}}
        <img class="col-md-4 img-fluid mx-auto" src="{{region.Image}}"/>
      {{/if}}
      <div class='input-group mb-3'>
        <span class='input-group-text'>Name</span>
        <input
          type='text'
          class='form-control'
          placeholder='Region Name'
          id='name'
          name='Name'
          value='{{#if editMode}}{{region.Name}}{{/if}}'
        />
      </div>
      <div class='input-group mb-3'>
        <span class='input-group-text'>Image</span>
        <input
          type='text'
          class='form-control'
          placeholder='Region Image URL'
          id='image'
          name='Image'
          value='{{#if editMode}}{{region.Image}}{{/if}}'
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="Description" rows="3" maxlength="100">{{#if editMode}}{{region.Description}}{{/if}} </textarea>
      </div>
      <div>
        <button id="getRegion"  class='btn btn-danger float-end' type='submit'><img
            src='/assets/img/region.ico'
            alt='Add Region'
            srcset=''/>
          {{#if editMode}}Edit{{else}}Get{{/if}}
          Region</button>
                      <input type="hidden" id="regionCreate" name="RegionCreate" value="">

        <a class='btn btn-large btn-danger py-sm-2' href="/admin/edit-Region"> back</a>
      </div>
    </section>
  </form>
</main>