<main class='container mt-l'>
  <div class='row mb-2'>
    <div class='col-12'>
      <h1 class='text-center'><img src='/assets/img/pokedex.ico' />
        {{title}} Pokemons
        <img src='/assets/img/pokedex.ico' /></h1>
    </div>
  </div>
  {{#if hasPokemon}}
    {{! Card }}
    <section class='row'>
      {{#each pokemons as |pokemon|}}
        <div
          class='card mb-3 col ms-2 px-0 mx-auto'
          style='min-width: 22rem; max-width: 18rem;'
        >
          <div class='row g-0'>
            <div class='col-md-4'>
              <img
                loading='lazy'
                src='{{pokemon.Image}}'
                class='img-fluid rounded-start'
                alt='{{pokemon.Name}}'
              />
            </div>
            <div class='col-md-8 py-0 pb-1'>
              <div class='card-body px-2 py-2'>
                <span
                  class='text-muted float-end pb-0 mb-0'
                >#{{pokemon.pokemonId}}</span>
                <h5 class='card-title mb-1'><strong>Name:
                  </strong>{{pokemon.Name}}</h5>
                <p class='card-text mb-1'><strong>Type:</strong>
                  {{#if (IsEqual pokemon.Type '')}}{{pokemon.Type2}} {{else}}
                  {{/if}}{{#if (IsEqual pokemon.Type2 '')}}
                    {{pokemon.Type}}
                  {{else}} {{pokemon.Type}} / {{pokemon.Type2}}{{/if}}
                </p>
                <p class='card-text text-muted'><strong>Region: </strong>{{pokemon.Region}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </section>
    {{! end Card }}
  {{else}}
    <div class='row'>
      <div class='col-12'>
        <h1 class='text-center'>No Pokemons Found</h1>
      </div>
    </div>
  {{/if}}
</main>